@model AvatarImageScriptModel

<div>
    <input id="AvatarImageScriptInput" class="form-control" type="text" placeholder="Paste your dragon image URL" />
    <div id="AvatarImageResult" style="display:none;">
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Preview</label>
                <div class="col-md-10">
                    <img id="AvatarImageResultImage" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="plainAvatar">Direct link</label>
                <div class="col-md-10">
                    @Html.CopyTextBox("", "plainAvatar")
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="plainAvatar">BBCode link</label>
                <div class="col-md-10">
                    @Html.CopyTextBox("", "IMGAvatar")
                </div>
            </div>
        </div>
    </div>
    <div id="AvatarImageError" style="display:none;">
        <hr />
        <div class="alert alert-danger">
            The URL you provided is not a valid URL. Please make sure the URL is in the following format: <br />
            <span class="text-muted">https://www1.flightrising.com/rendern/350/1/16_350.png</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    snippetInitializations.push(function () {
        console.log('test');
        $('#AvatarImageScriptInput').on('input', $.debounce(500, AvatarImageScript));
    });


    AvatarImageScript = function () {
        $('#AvatarImageResult, #AvatarImageError').hide();
        //https://www1.flightrising.com/rendern/portraits/263949/26394868p.png
        //https://www1.flightrising.com/rendern/350/1/16_350.png?mtime=ZAAAAAAAAAA

        var input = $('#AvatarImageScriptInput').val();

        if (input.length == 0)
            return;

        var validUrlRegex = new RegExp('(http[s]?://www1.flightrising.com/rendern/350/1/16_350.png)(\\?mtime=[a-zA-Z]*)?');

        var match = input.match(validUrlRegex);

        if (match) {
            var avatarUrl = match[1].replace('_350', 'p').replace('350', 'portraits');
            $('#AvatarImageResultImage').attr('src', avatarUrl);
            $('#plainAvatar').val(avatarUrl);
            $('#IMGAvatar').val(`[img]${avatarUrl}[/img]`);

            $('#AvatarImageResult').show();
        }
        else {
            $('#AvatarImageError').show();
        }
    }
</script>