@model AvatarImageScriptModel

<div>
    <div class="form-group">
        <input maxlength="10" oninput="this.value = this.value.slice(0, this.maxLength); $('#AvatarImageScriptInput').val(`https://www1.flightrising.com/rendern/350/${Math.floor((this.value / 100) + 1)}/${this.value}_350.png`).trigger('input')" class="form-control" type="number" placeholder="Paste your dragon ID number" />
    </div>
    <div class="form-group">
        <input id="AvatarImageScriptInput" class="form-control" type="text" placeholder="Paste your dragon image URL" />
    </div>
    <div id="AvatarImageResult" style="display:none;">
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Preview</label>
                <div class="col-md-10">
                    <img id="AvatarImageResultImage" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="plainAvatar">Direct link</label>
                <div class="col-md-10">
                    @Html.CopyTextBox("", "plainAvatar")
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="plainAvatar">BBCode link</label>
                <div class="col-md-10">
                    @Html.CopyTextBox("", "IMGAvatar")
                </div>
            </div>
        </div>
    </div>
    <div id="AvatarImageError" style="display:none;">
        <hr />
        <div class="alert alert-danger">
            The URL you provided is not a valid URL. Please make sure the URL is in the following format: <br />
            <span class="text-muted">https://www1.flightrising.com/rendern/350/1/16_350.png</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    snippetInitializations.push(function () {
        $('#AvatarImageScriptInput').on('input', $.debounce(500, AvatarImageScript));
    });

    AvatarImageScript = function () {
        $('#AvatarImageResult, #AvatarImageError').hide();

        var input = $('#AvatarImageScriptInput').val();

        if (input.length == 0)
            return;

        var match = input.match(validUrlRegex);

        if (match && match[2]) {
            var avatarUrl = match[1].replace('_350', 'p').replace('350', 'portraits');
            $('#AvatarImageResultImage').attr('src', avatarUrl);
            $('#plainAvatar').val(avatarUrl);
            $('#IMGAvatar').val(`[img]${avatarUrl}[/img]`);

            $('#AvatarImageResult').show();
        }
        else {
            $('#AvatarImageError').show();
        }
    }
</script>