@model ColiImageScriptModel

<div>
    <div class="form-group">
        <input maxlength="10" oninput="this.value = this.value.slice(0, this.maxLength); $('#ColiImageScriptInput').val(`https://www1.flightrising.com/rendern/350/${Math.floor((this.value / 100) + 1)}/${this.value}_350.png`).trigger('input')" class="form-control" type="number" placeholder="Paste your dragon ID number" />
    </div>
    <div class="form-group">
        <input id="ColiImageScriptInput" class="form-control" type="text" placeholder="Paste your dragon image URL" />
    </div>
    <div id="ColiImageResult" style="display:none;">
        <hr />
        <div class="form-group row">
            <label class="col-md-2">Preview</label>
            <div class="col-md-10">
                <img id="ColiImageResultImage" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" for="plainColi">Direct link</label>
            <div class="col-md-10">
                @Html.CopyTextBox("", "plainColi")
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2" for="plainColi">BBCode link</label>
            <div class="col-md-10">
                @Html.CopyTextBox("", "IMGColi")
            </div>
        </div>
    </div>
    <div id="ColiImageError" style="display:none;">
        <hr />
        <div class="alert alert-danger">
            The URL you provided is not a valid URL. Please make sure the URL is in the following format: <br />
            <span class="text-muted">https://www1.flightrising.com/rendern/350/1/16_350.png</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    snippetInitializations.push(() => {
        $('#ColiImageScriptInput').on('input', $.debounce(500, ColiImageScript));
    });

    ColiImageScript = () => {
        $('#ColiImageResult, #ColiImageError').hide();

        var input = $('#ColiImageScriptInput').val();

        if (input.length == 0)
            return;

        var match = input.match(validUrlRegex);

        if (match && match[2]) {
            var ColiUrl = match[1].replace('_350', '').replace('350', 'coliseum/portraits');
            $('#ColiImageResultImage').attr('src', ColiUrl);
            $('#plainColi').val(ColiUrl);
            $('#IMGColi').val(`[img]${ColiUrl}[/img]`);

            $('#ColiImageResult').show();
        }
        else {
            $('#ColiImageError').show();
        }
    }
</script>