@model SmallImageScriptModel

<div>
    <div class="form-group">
        <input maxlength="10" oninput="this.value = this.value.slice(0, this.maxLength); $('#SmallImageScriptInput').val(`https://www1.flightrising.com/rendern/350/${Math.floor((this.value / 100) + 1)}/${this.value}_350.png`).trigger('input')" class="form-control" type="number" placeholder="Paste your dragon ID number" />
    </div>
    <div class="form-group">
        <input id="SmallImageScriptInput" class="form-control" type="text" placeholder="Paste your dragon image URL" />
    </div>
    <div id="SmallImageResult" style="display:none;">
        <hr />
            <div class="form-group row">
                <label class="col-md-2">Preview</label>
                <div class="col-md-10">
                    <img id="SmallImageResultImage" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" for="plainSmall">Direct link</label>
                <div class="col-md-10">
                    @Html.CopyTextBox("", "plainSmall")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" for="plainSmall">BBCode link</label>
                <div class="col-md-10">
                    @Html.CopyTextBox("", "IMGSmall")
                </div>
            </div>
    </div>
    <div id="SmallImageError" style="display:none;">
        <hr />
        <div class="alert alert-danger">
            The URL you provided is not a valid URL. Please make sure the URL is in the following format: <br />
            <span class="text-muted">https://www1.flightrising.com/rendern/350/1/16_350.png</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    snippetInitializations.push(() => {
        $('#SmallImageScriptInput').on('input', $.debounce(500, SmallImageScript));
    });

    SmallImageScript = () => {
        $('#SmallImageResult, #SmallImageError').hide();

        var input = $('#SmallImageScriptInput').val();

        if (input.length == 0)
            return;

        var match = input.match(validUrlRegex);

        if (match && match[2]) {
            var SmallUrl = match[1].replace('_350', '').replace('350', 'avatars');
            $('#SmallImageResultImage').attr('src', SmallUrl);
            $('#plainSmall').val(SmallUrl);
            $('#IMGSmall').val(`[img]${SmallUrl}[/img]`);

            $('#SmallImageResult').show();
        }
        else {
            $('#SmallImageError').show();
        }
    }
</script>
