@{
    ViewBag.Title = "Pinglist info";
}

@section meta{
    <meta property="og:title" content="Flight Rising pinglist manager" />
    <meta property="og:image" content="/Content/frtools_embed.png" />
    <meta property="og:url" content="@Url.RouteUrl("PinglistInfo")" />
    <meta property="og:description" content="This tool allows you to easily manage your pinglist, with features such as user validation and build in formatting options!" />
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Pinglist manager</h4>
        </div>
        <div class="panel-body">
            <p>
                Browsing the forums of Flight Rising I see so many people doing various ways of handling their pinglists, mainly google docs but some even manually in a .txt document.<br />
                Figuring this can be done a lot easier and more convenient I put together this manager tool, to have a simple way of seeing clearly who is in your list and allowing easy edits.
            </p>
            <p>
                The intend of this tool is allow a rich featureset to do a relatively simple task of keeping a list.<br />
                Features include, but not limited to:
                <ul>
                    <li>Username validation (no more typos!)</li>
                    <li>Auto-update usernames*</li>
                    <li>Protection against vandalism**</li>
                    <li>Easily manage multiple lists***</li>
                    <li>Formatting options to easily auto-format your pinglist</li>
                    <li>Configurable access (you choose if other people can add themselves!)</li>
                </ul>
                <hr />
                <small><span style="display:inline-block; min-width:20px;">*</span>Requires manual interaction to begin the process, the automatic part is that every name is checked and updated (1 day cooldown, per user)</small><br />
                <small><span style="display:inline-block; min-width:20px;">**</span>Users can only edit their own entry using a code they get when they add themselves, or are logged in with a linked FR account that is on the list</small><br />
                <small><span style="display:inline-block; min-width:20px;">***</span>Requires a user account on this tool site and the lists to be linked to that account, otherwise it is up to the user to keep track of the list ids and secret keys</small><br />
            </p>
            <p><a class="btn btn-primary" href="@Url.RouteUrl("PinglistCreate")">Create pinglist &raquo;</a></p>
        </div>
</div>