@model FRTools.Web.Models.PinglistViewModel

@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Pinglist: <b>@(Model.Name)</b></h4>
            </div>
            <div class="panel-body">
                @foreach (var entry in Model.Entries)
                {
                    <row>
                        <div class="col-md-4">
                            <p>@(entry.FRUser.Username)</p>
                        </div>
                        <div class="col-md-8">
                            <p>@(entry.Remarks)</p>
                        </div>
                        @if (Model.CurrentFRUser == null)
                        {
                            <div class="col-md-2">
                                <a href="#">Edit entry</a>
                            </div>
                        }
                    </row>
                }
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
            //Turn row into editable
    </script>
}