<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer >
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^FRSkinTester\.azurewebsites\.net$" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/\.well-known/acme-challenge/[a-zA-Z0-9_]+$" />
          </conditions>
          <action type="Redirect" url="http://FRTools.nensec.com/skintester/{R:0}" />
        </rule>
        <rule name="Redirect rquests to new domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^FRSkinTester\.nensec\.com$" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/\.well-known/acme-challenge/[a-zA-Z0-9_]+$" />
          </conditions>
          <action type="Redirect" url="http://FRTools.nensec.com/skintester/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
