<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer >
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^FRSkinTester\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="http://FRTools.nensec.com/skintester/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
