@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Delete</h2>
    </div>
    <div class="panel-body">
        Your skin has been deleted from the server
    </div>
</div>
