@{
    ViewBag.Title = "Preview";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Enter the ID of the preview</h4>
    </div>
    <div class="panel-body">
        <p>
            This page was made due to the ongoing censorship on Flight Rising forums preventing artists from sharing links to the tool easily.<br/>
            Enter the skin id that the artist shared in the box and hit the "Go to preview" button
        </p>
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Skin ID", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBox("id", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Go to preview" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            location.href = `@Url.RouteUrl("PreviewHome")/${$('#id').val()}`;
        });
    });
</script>