@{
    ViewBag.Title = "Discord bot info";
}

@section meta{
    <meta property="og:title" content="FRTools Discord bot" />
    <meta property="og:image" content="/Content/frtools_discord_bot.png" />
    <meta property="og:url" content="@Url.RouteUrl("DiscordHome")" />
    <meta property="og:description" content="A discord bot that provides various Flight Rising related features" />
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>FRTools Discord bot</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-8">
            <p>
                Designed to make handling FR things on Discord easier, this bot provides users with a handy set of tools to assist in sales, scrying, dominance etc.<br /><br />

                Currently the first and only module available is automatic dominance roles, but more are to come in the (near!) future.
            </p>
            <p class="text-center"><a class="btn btn-primary" href="https://discordapp.com/api/oauth2/authorize?client_id=648225754093715528&permissions=268789824&scope=bot">Invite me! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <iframe src="https://discordapp.com/widget?id=703445708212273252&theme=dark@(Request.IsAuthenticated ? ("&username=" + User.Identity.Name) : "")" width="100%" height="350" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </div>
</div>