@{
    
    ViewBag.Title = "Discord bot info";
}

@section meta{
    <meta property="og:title" content="FRTools Discord bot" />
    <meta property="og:image" content="/Content/frtools_discord_embed.png" />
    <meta property="og:url" content="@Url.RouteUrl("DiscordHome")" />
    <meta property="og:description" content="A discord bot that provides various Flight Rising related features" />
}

<div class="card mt-3">
    <div class="card-header">
        <h5>FRTools Discord bot</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Designed to make handling FR things on Discord easier, this bot provides users with a handy set of tools to assist in sales, dominance, lookup etc.
                </p>
                <p>
                    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox" style="background-color:#36393F">
                            <div class="carousel-item active">
                                <img class="center-block img-responsive" src="https://i.imgur.com/FCNwHwg.png">
                            </div>
                            <div class="carousel-item">
                                <img class="center-block img-responsive" src="https://i.imgur.com/vyW8Xbt.png">
                            </div>
                            <div class="carousel-item">
                                <img class="center-block img-responsive" src="https://i.imgur.com/3wpWb6E.png">
                            </div>
                            <div class="carousel-item">
                                <img class="center-block img-responsive" src="https://i.imgur.com/s8u1QyF.png">
                            </div>
                            <div class="carousel-item">
                                <img class="center-block img-responsive" src="https://i.imgur.com/HLg5MaG.png">
                            </div>
                            <div class="carousel-item">
                                <img class="center-block img-responsive" src="https://i.imgur.com/pjBiu3f.png">
                            </div>
                        </div>
                    </div>
                </p>
                <p>
                    There are 3 modules available right now:
                    <ul>
                        <li>
                            <span>Skin tester - Show off your skin straight in Discord and allow users to preview them without having to leave discord!</span>
                        </li>
                        <li>
                            <span>Dominance - Does your server handle flight roles and do your users run dom-shops? This module might help with that!</span>
                        </li>
                        <li>
                            <span>Lookup - Look up public Flight Rising data, you can lookup dragons or any item!</span>
                        </li>
                    </ul>
                </p>
                <p class="text-center">
                    <a class="btn btn-primary" href="https://discordapp.com/api/oauth2/authorize?client_id=648225754093715528&permissions=268789824&scope=bot">Invite the bot to your own server! &raquo;</a>
                </p>
                <p class="text-center">
                    <a class="btn btn-success" href="@(Url.RouteUrl("DiscordManage"))">Manage your bot</a>
                    <a class="btn btn-info" href="@(Url.RouteUrl("DiscordHelp"))">View help</a>
                </p>

            </div>
            <div class="col-md-4">
                <iframe src="https://discordapp.com/widget?id=703445708212273252&theme=dark@(Request.IsAuthenticated ? ("&username=" + User.Identity.Name) : "")" width="100%" height="350" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>