[data-theme="dark"].text-dark {
    color: #8e8e8e !important;
}

[data-theme="dark"] {
    background-color: #1f1f1f !important;
    color: #eee !important;
}

    [data-theme="dark"] a:not(.btn) {
        color: #2c86e6;
    }

    [data-theme="dark"] .bg-light {
        background-color: #333 !important;
    }

    [data-theme="dark"] .bg-black {
        background-color: #eee !important;
    }

    [data-theme="dark"] .card {
        background-color: #2b2b2b !important;
    }

    [data-theme="dark"] .card-body .card-header {
        background-color: #272727 !important;
    }

    [data-theme="dark"] .card-body .card {
        background-color: #313131 !important;
    }

    [data-theme="dark"] .card-header {
        background-color: rgba(0, 0, 0, 0.12) !important;
    }

    [data-theme="dark"] .alert-info {
        background-color: #aff2ff !important;
    }

    [data-theme="dark"] .alert-warning {
        background-color: #e8d9a9 !important;
        color: #694f03 !important;
    }

    [data-theme="dark"] .popover {
        background-color: #2b2b2b !important;
    }

    [data-theme="dark"] .popover-body {
        color: #8e8e8e !important;
    }

    [data-theme="dark"] .bs-popover-auto[x-placement^=right] > .arrow::after,
    [data-theme="dark"] .bs-popover-right > .arrow::after {
        border-right-color: #2b2b2b !important;
    }

    [data-theme="dark"] .bs-popover-auto[x-placement^=left] > .arrow::after,
    [data-theme="dark"] .bs-popover-left > .arrow::after {
        border-left-color: #2b2b2b !important;
    }

    [data-theme="dark"] .bs-popover-auto[x-placement^=top] > .arrow::after,
    [data-theme="dark"] .bs-popover-top > .arrow::after {
        border-top-color: #2b2b2b !important;
    }

    [data-theme="dark"] .bs-popover-auto[x-placement^=bottom] > .arrow::after,
    [data-theme="dark"] .bs-popover-bottom > .arrow::after {
        border-bottom-color: #2b2b2b !important;
    }

    [data-theme="dark"] .form-control {
        background-color: #2b2b2b !important;
        border-color: #6d6d6d !important;
        color: #c7c7c7 !important;
    }

    [data-theme="dark"] select.form-control option:disabled {
        opacity: 0.6;
    }

    [data-theme="dark"] .page-link {
        background-color: #2b2b2b;
        color: #6d6d6d;
        border-color: #6d6d6d !important;
    }

    [data-theme="dark"] .page-item.disabled .page-link {
        background-color: #2b2b2b;
        color: #6d6d6d;
        opacity: 0.6;
    }

    [data-theme="dark"] .control-fileupload {
        background-color: #2b2b2b !important;
        border-color: #6d6d6d !important;
        color: #6d6d6d !important;
    }

    [data-theme="dark"] .table {
        color: inherit;
    }

    [data-theme="dark"] .table-hover tbody tr:hover {
        background-color: #ffffff13;
        color: #c7c7c7;
    }

    [data-theme="dark"] .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff13;
        color: #c7c7c7;
    }

    [data-theme="dark"] .dropdown-menu {
        background-color: #343a40;
    }

    [data-theme="dark"] a.dropdown-item {
        color: #8e8e8e;
    }

    [data-theme="dark"] .dropdown-item:hover {
        background-color: #2b2b2b;
    }

    [data-theme="dark"] .dropdown-divider {
        border-color: #616161;
    }

    [data-theme="dark"] input[type="color"] {
        background-color: transparent;
    }

    [data-theme="dark"] input[type="range"] {
        background-color: transparent;
    }
