@model VerifyFRViewModel

@{
    
    ViewBag.Title = "Verify Flight Rising account";
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Verify account</h5>
    </div>
    <div class="card-body">
        <p>
            Please log in to Flight Rising and go to your profile page.<br />
            Once you are on your profile page edit your <b>Clan Information</b> and add the following token to it (don't worry, you can remove it once you are verified).<br />
            When you have saved the token to your <b>Clan Information</b> simply enter your User Id in the box below and click the verify button.
        </p>
        <div class="form-group row">
            @Html.Label("Verify code", new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.CopyTextBoxFor(model => model.Guid)
            </div>
        </div>
        <hr/>
        <p>
            Don't take too long, this token is only valid for a short period!<br />
            Make sure you saved your edited Clan Information.
        </p>
        @Html.Partial("_verifyForm", new VerifyFRPostViewModel())
    </div>
</div>