@model FRTools.Web.Models.PinglistViewModel

@{
    ViewBag.Title = $"Private pinglist '{Model.Name}'";
    Layout = V2Layout;
}

    <div class="card mt-3">
        <div class="card-header">
            <h5>Pinglist: <b>@(Model.Name)</b></h5>
        </div>
        <div class="card-body">
            @Html.Partial("Userlist", Model.EntriesViewModel)
        </div>
    </div>
