@model FRTools.Web.Models.PinglistViewModel

@{
    ViewBag.Title = $"Private pinglist '{Model.Name}'";
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Pinglist: <b>@(Model.Name)</b></h4>
        </div>
        <div class="panel-body">
            @Html.Partial("Userlist", Model.EntriesViewModel)
        </div>
    </div>
