<p>
    The fastest way to get into contact with us is through our Discord server, you can click the following link to join it: <a href="https://discord.gg/tc4c5tk">Join Discord</a>
    <br />
    <br />
    If you run into any issues the best thing you can do is make an issue <a href="https://github.com/nensec/FRTools/issues">&gt;here&lt;</a>. Perhaps someone else already made an issue about it?<br />
    You can find the source code for this compilation of tools over at <a href="https://github.com/nensec/FRTools">github</a>
    <br />
    <br />
    Lastly you can get into contact directly <a href="mailto:frskintester@gmail.com">by email</a>
</p>