@{
    
    ViewBag.Title = "Home";
}

@section meta{
    <meta property="og:title" content="FR Tools" />
    <meta property="og:image" content="/Content/frtools_embed.png" />
    <meta property="og:url" content="@Url.RouteUrl("Home")" />
    <meta property="og:description" content="This site will host various tools aimed at making your Flight Rising experience better!" />
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Latest blog post</h5>
    </div>
    <div class="card-body">
        <div id="blogPost"></div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h5>Contact</h5>
    </div>
    <div class="card-body">
        @Html.Partial("_Contact")
    </div>
</div>

@section scripts {
    <script>
        $($.ajax({
            type: "GET",
            url: "https://api.tumblr.com/v2/blog/frtools.tumblr.com/posts?api_key=@(System.Configuration.ConfigurationManager.AppSettings["TumblrClientId"])&limit=1&filter=raw&tag=fr+tools+news",
            dataType: "JSON",
            success: b => {
                p = b.response.posts[0];
                $('#blogPost').html($(`<h4>${p.title}${p.title ? ' - ' : ''}${p.date}</h4>${p.body_abstract || p.caption || p.body}<a href="${p.post_url}">Read full post</a>`));
            }}));
    </script>
}

<style>
    #blogPost img {
        max-width: 100%;
        box-shadow: 3px 3px 3px grey;
        margin-bottom: 10px;
    }

    .tmblr-full {
        text-align: center;
    }
</style>