@model FRSkinTester.Models.ExternalLoginListViewModel

@{
    ViewBag.Title = "Account management";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Account management
        </h2>
    </div>
    <div class="panel-body">

    </div>
</div>