@model VerifyFRViewModel

@{
    ViewBag.Title = "Verify Flight Rising account";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Verify account
        </h2>
    </div>
    <div class="panel-body">
        <p>
            Please log in to Flight Rising and go to your profile page.<br />
            Next edit your Clan Information and add the following token to it (don't worry, you can remove it once you are verified):<br />
        </p>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Verify code", new { style = "padding-top:7px", @class = "control-label col-md-2" })
                <div class=" col-md-8">
                    @Html.CopyTextBoxFor(model => model.Guid)
                </div>
            </div>
        </div>
        <p>
            Don't take too long, this token is only valid for a short period!<br />
            Make sure you saved your edited Clan Information.
        </p>
        @Html.Partial("_verifyForm", new VerifyFRPostViewModel())
    </div>
</div>