@{
    ViewBag.Title = "404 - Page Not Found";
    
}

<div class="card text-secondary border-danger mt-3">
    <div class="card-header">
        <h1 class="text-danger">404</h1>
    </div>
    <div class="card-body">
        <p>
            It happened. You navigated your way through the bowels of the internet to try and access this specific resource.. yet.. it does not exist.<br />
            Or maybe it just doesn't anymore?<br />
            Maybe it was moved..
        </p>
        <p>
            Regardless of what you attempted to find, it is not here.
        </p>
        <p>
            You could try <a href="javascript:window.history.back();">going back</a> and try, or go to the <a href="@Url.RouteUrl("Home")">site's index</a>.
        </p>
    </div>
</div>