@{
    
    ViewBag.Title = "Skin deleted";
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Delete</h5>
    </div>
    <div class="card-body">
        Your skin has been deleted from the server
    </div>
</div>
