@{
    Layout = V2Layout;
    ViewBag.Title = "Preview";
}

<div class="card mt-3">
    <div class="card-header">
        <h5>Enter the ID of the skin</h5>
    </div>
    <div class="card-body">
        <p>
            This page was made due to the ongoing censorship on Flight Rising forums preventing artists from sharing links to the tool easily.<br />
            Enter the skin id that the artist shared in the box and hit the "Go to preview" button
        </p>
        <div class="form-group row">
            @Html.Label("Skin ID", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBox("id", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" value="Go to preview" class="btn btn-primary" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type="submit"]').click(function () {
            location.href = `${location.protocol}//${location.host}${location.pathname}/${$('#id').val()}`;
        });
    });
</script>