@model DressModelResultViewModel

@{
    ViewBag.Title = "Dress up a scry result";
    Layout = V2Layout;
}

<div class="card mt-3">
    <div class="card-header">
        <h5>
            Here is your preview, hope you like it!
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div>
                <img class="dragonImage center-block" src="@(Model.CDNBasePath + Model.PreviewUrl)" />
            </div>
        </div>

        <p class="pull-left">
            <i style="font-size:10px;">
                Notice anything wrong with the result? Let me know so I can fix it <a href="https://github.com/nensec/FRTools/issues">&gt;here&lt;</a>!
            </i>
        </p>
    </div>
</div>
<p><a class="btn btn-primary" href="@Url.RouteUrl("ScryerDresser")">Try again with different images? &raquo;</a></p>