@{
    ViewBag.Title = "Home Page";
}

@section meta{
    <meta property="og:title" content="Flight Rising skin tester" />
    <meta property="og:image" content="/Content/frtools_embed.png" />
    <meta property="og:url" content="@Url.RouteUrl("Home")" />
    <meta property="og:description" content="This tool allows you to let potential buyers of your skin preview your skin on their dragons or even scries!" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Latest blog post</h4>
            </div>
            <div id="blogPost" class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Contact info</h4>
            </div>
            <div class="panel-body">
                <p>
                    You can find the source code for this compilation of tools over at <a href="https://github.com/nensec/FRTools">github</a><br />
                    If you run into any issues the best thing you can do is make an issue <a href="https://github.com/nensec/FRTools/issues">&gt;here&lt;</a>. Perhaps someone else already made an issue about it?<br />
                    <br />
                    You can always poke me on Discord directly at <b>Nensec#1337</b> for any suggestions, help or just talk!
                </p>
            </div>
        </div>
    </div>
</div>
<p><a class="btn btn-primary" href="@Url.RouteUrl("Upload")">Upload skin &raquo;</a></p>

@section scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://api.tumblr.com/v2/blog/FRSkinTester.tumblr.com/posts?api_key=@(System.Configuration.ConfigurationManager.AppSettings["TumblrClientId"])&limit=1&filter=raw&tag=fr+tools+news",
                dataType: "JSON",
                success: function (blog) {
                    post = blog.response.posts[0];
                    if (post)
                        $('#blogPost').html($(`<h4>${post.title}${post.title ? ' - ': ''}${post.date}</h4>${post.body_abstract ? post.body_abstract : post.caption ? post.caption : post.body}<a href="${post.post_url}">Read full post</a>`));
                    else
                        $('#blogPost').html('<p>No post yet!</p>');
                }
            });
        });
    </script>
}

<style>
    .tmblr-full img {
        max-width: 100%;
        box-shadow: 3px 3px 3px grey;
        margin-bottom: 10px;
    }

    .tmblr-full {
        text-align: center;
    }
</style>