@{
    ViewBag.Title = "Home Page";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Flight Rising skin tester</h2>

    </div>
    <div class="panel-body">
        <p>
            This tool is made for artists so help shill their designs by making it easier to give people previews on their dragons.<br />
            Originally made for my GF so she didn't have to constantly juggle with applications to toss her creation over other people's dragons.<br />
            <br />
            I hope other artists can benefit from this too.
        </p>
    </div>
</div>        <div class="panel panel-default">
    <div class="panel-heading">

        <h2>So how does this work, what does it even do?</h2>
    </div>
    <div class="panel-body">
        <p>
            When you upload your skin to this tool it is put in a place where you cannot view it from the outside, only the website internally can view it.<br />
            When someone uses your preview link to show your skin on their dragon, the website generates the image by fetching the dragon from Flight Rising and overlays your skin on it.<br />
            <br />
            Your skin cannot be stolen unless someone goes through the trouble of editing out their dragon from the preview image, much like if you would generate a preview yourself for them.
        </p>
    </div>
</div>
<p><a class="btn btn-primary" href="@Url.Action("Upload")">Upload skin &raquo;</a></p>
