
@{
    ViewBag.Title = "404 - Page Not Found";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="panel-body">
        <p>
            It happened. You navigated your way through the bowels of the internet to try and access this specific resource.. yet.. it does not exist.<br/>
            Or maybe it just doesn't anymore?<br/>
            Maybe it was moved..
        </p>
        <p>
            Regardless of what you attempted to find, it is not here.
        </p>
    </div>
</div>