@model FRSkinTester.Models.PreviewModelPostResult

@{
    ViewBag.Title = "Preview";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Here is your preview, hope you like it!
        </h2>
    </div>
    <div class="panel-body">
        @if (Model.Dragon.EyeType == FRSkinTester.Models.EyeType.Primal || Model.Dragon.EyeType == FRSkinTester.Models.EyeType.Glowing)
        {
            <div class="alert alert-warning">
                This dragon has the <b>@(Model.Dragon.EyeType)</b> eyetype. Due to the nature of how these eyes are generated here they don't look perfect (yet). This is a work in progress!
            </div>
        }
        else if (Model.Dragon.EyeType == FRSkinTester.Models.EyeType.MultiGaze)
        {
            <div class="alert alert-success">
                The eye masks for multi-gaze are generously provided by <b>Grovey#79114</b> (<a href="https://www1.flightrising.com/forums/gde/2571730">forum thread</a>)
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                Eyes might not look right compared to the final, but they should still give a good indication of what will be. This is a work in progress!
            </div>
        }
        <div>
            <img class="center-block" src="@(Model.ImageResultUrl)" />
        </div>
    </div>
</div>
<p><a class="btn btn-primary" href="@Url.Action("Preview", new { SkinId = Model.SkinId })">Try on another dragon? &raquo;</a></p>